<section class="page-content__includes">
  <div class="includes-wrapper">
    <div class="includes-title">
      Что входит в подписку «Беру Выгоднее»
    </div>
    <div class="includes-delivery">
        <picture class="main-box__img">
        <source srcset="./dist/img/includes/delivery-box@2x.png" media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
        <source  srcset="/dist/img/includes/beru-box.png" media="(-webkit-min-device-pixel-ratio: 1)">
        <img src="/dist/img/includes/beru-box.png" alt="" class="main-box__img" />
    </picture>
      <div class="includes-delivery__title">
        Бесплатная доставка заказов в Воронеже
        <div class="includes-delivery__subtitle">
          Кроме крупногабаритных товаров
        </div>
      </div>
    </div>
    <div class="includes-services__title">
      Все преимущества <div class="includes-services__title-plus">Яндекс.Плюса</div>
      <div class="includes-services__title__image">
        <img src="/dist/svg/YaPlusBadge.svg" alt="" />
      </div>
    </div>
    <div class="includes-services__grid-wrapper">
      <div class="grid-text taxi">
        Скидка на поездки<br />с помощью сервиса<br />Яндекс.Такси
      </div>
      <div class="grid-text taxi__tablet">
        Скидка на комфортные<br />поездки Яндекс.Такси
      </div>

      <div class="grid-text music">
        Любые треки на<br />Яндекс.Музыке без интернета<br />и в высоком
        качестве
      </div>
      <div class="grid-text music__tablet">
        Яндекс.Музыка бесплатно,<br />без интернета и в высоком<br />качестве
      </div>

      <div class="grid-text kino">
        4&nbsp;500&nbsp;фильмов&nbsp;и&nbsp;сериалов<br />для
        онлайн-просмотра<br />на КиноПоиске HD
      </div>

      <div class="grid-text drive">Скидки на каршеринг<br />Яндекс.Драйв</div>

      <div class="grid-text disc">
        +10 ГБ на Яндекс.Диске<br />и скидка на покупку места
      </div>

      <div class="grid-text afisha">
        Больше баллов за покупку<br />билетов на Яндекс.Афише
      </div>
    </div>
    <div class="includes__about">
      <div class="about-text">
        Подробнее о подписке
      </div>
      <div class="about-link__wrapper">
        <a href="https://plus.yandex.ru" target="_blank">Яндекс.Плюс</a>
      </div>
    </div>
    <div class="includes__about__tablet">
      <div class="about-text">
        Подписаться на
      </div>
      <div class="about-link__wrapper">
        <a href="https://plus.yandex.ru" target="_blank">Яндекс.Плюс</a>
      </div>
    </div>
  </div>
</section>
