<section class="page-content__economy">
  <div class="economy__wrapper">
    <div class="economy-title">
      1&nbsp;602&nbsp;₽&nbsp;—&nbsp;экономия&nbsp;на&nbsp;доставке за полгода
    </div>
    <div class="economy-subtitle">
      Если вы заказываете в среднем дважды в месяц
    </div>
    <div class="economy-images__container">
      <div class="economy-link">Как мы считали</div>
      <div class="small-box-container">
        <picture class="economy-small-box__img">
          <source
            srcset="/dist/img/economy/beru_box_small@2x.png"
            media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
          />
          <source
            srcset="/dist/img/economy/beru_box_small.png"
            media="(-webkit-min-device-pixel-ratio: 1)"
          />
          <img
            src="/dist/img/economy/beru_box_small.png"
            alt=""
            class="economy-small-box__img"
          />
        </picture>
        <div class="small-box-text__price">267&nbsp;₽</div>
        <div class="small-box-text__economy">экономия<br />за месяц</div>
      </div>
      <div class="big-box-container">
        <picture class="big-box__img">
          <source
            srcset="/dist/img/economy/beru_box_big@2x.png"
            media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
          />
          <source
            srcset="/dist/img/economy/beru_box_big.png"
            media="(-webkit-min-device-pixel-ratio: 1)"
          />
          <img
            src="/dist/img/economy/beru_box_big.png"
            alt=""
            class="big-box__img"
          />
        </picture>
        <div class="big-box-text__price">1&nbsp;602&nbsp;₽</div>
        <div class="big-box-text__economy">экономия<br />за полгода</div>
      </div>
      <div class="big-box-plus">
        <picture class="big-box-plus__img">
          <source
            srcset="/dist/img/economy/ya_plus@2x.png"
            media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
          />
          <source
            srcset="/dist/img/economy/ya_plus.png"
            media="(-webkit-min-device-pixel-ratio: 1)"
          />
          <img
            src="/dist/img/economy/ya_plus.png"
            alt=""
            class="big-box-plus__img"
          />
        </picture>
        <div class="plus-box-text__price">
          Яндекс.Плюс
          <div class="plus-box-badge__wrapper">
            <img src="/dist/svg/YaPlusBadge.svg" alt="" />
          </div>
        </div>
        <div class="plus-box-text__economy">
          Скидки и все возможности<br />сервисов Яндекса
        </div>
      </div>
    </div>
    <div class="economy-kat__wrapper">
      <table>
        <tbody>
          <tr>
            <td class="economy-kat__head"></td>
            <td class="economy-kat__head">
              За&nbsp;месяц
            </td>
            <td class="economy-kat__head">
              За&nbsp;полгода
            </td>
            <td class="economy-kat__head">
              Другие&nbsp;сервисы&nbsp;Яндекса
            </td>
          </tr>
          <tr>
            <td class="economy-kat__tariff">Ваш тариф<br />«Беру Выгоднее»</td>
            <td class="economy-kat__tariff">
              299&nbsp;₽
            </td>
            <td class="economy-kat__tariff">
              1&nbsp;799&nbsp;₽
            </td>
            <td class="economy-kat__tariff"></td>
          </tr>
          <tr>
            <td class="economy-kat__tariff">
              <div class="dot__wrapper">
                <img src="/dist/svg/small-dot.svg" alt="" />
              </div>
              Подписка<br />Яндекс.Плюс
            </td>
            <td class="economy-kat__tariff">
              169&nbsp;₽
            </td>
            <td class="economy-kat__tariff">
              1&nbsp;014&nbsp;₽
            </td>
            <td class="economy-kat__tariff images">
              <div class="images__wrapper">
                <picture>
                  <source
                    srcset="/dist/img/economy/YaTaxi-mini@2x.png"
                    media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  />
                  <source
                    srcset="/dist/img/economy/Taxi-mini.png"
                    media="(-webkit-min-device-pixel-ratio: 1)"
                  />
                  <img src="/dist/img/economy/Taxi-mini.png" alt="" />
                </picture>
                <picture>
                  <source
                    srcset="/dist/img/economy/YaMusic-mini@2x.png"
                    media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  />
                  <source
                    srcset="/dist/img/economy/Music.png"
                    media="(-webkit-min-device-pixel-ratio: 1)"
                  />
                  <img src="/dist/img/economy/Music.png" alt="" />
                </picture>
                <picture>
                  <source
                    srcset="/dist/img/economy/YaDrive-mini@2x.png"
                    media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  />
                  <source
                    srcset="/dist/img/economy/Drive.png"
                    media="(-webkit-min-device-pixel-ratio: 1)"
                  />
                  <img src="/dist/img/economy/Drive.png" alt="" />
                </picture>
                <picture>
                  <source
                    srcset="/dist/img/economy/Kinopoisk-mini@2x.png"
                    media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  />
                  <source
                    srcset="/dist/img/economy/Kinopoisk-mini.png"
                    media="(-webkit-min-device-pixel-ratio: 1)"
                  />
                  <img src="/dist/img/economy/Kinopoisk-mini.png" alt="" />
                </picture>
                <picture>
                  <source
                    srcset="/dist/img/economy/YaDisk-mini@2x.png"
                    media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  />
                  <source
                    srcset="/dist/img/economy/Disk.png"
                    media="(-webkit-min-device-pixel-ratio: 1)"
                  />
                  <img src="/dist/img/economy/Disk.png" alt="" />
                </picture>
                <picture>
                  <source
                    srcset="/dist/img/economy/YaAfisha-mini@2x.png"
                    media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  />
                  <source
                    srcset="/dist/img/economy/YaAfisha-mini.png"
                    media="(-webkit-min-device-pixel-ratio: 1)"
                  />
                  <img src="/dist/img/economy/YaAfisha-mini.png" alt="" />
                </picture>
              </div>
            </td>
          </tr>
          <tr>
            <td class="economy-kat__tariff">
              <div class="dot__wrapper">
                <img src="/dist/svg/small-dot.svg" alt="" />
              </div>
              Бесплатная доставка<br />на Беру
            </td>
            <td class="economy-kat__tariff">
              +231&nbsp;₽
            </td>
            <td class="economy-kat__tariff">
              +1&nbsp;386&nbsp;₽
            </td>
            <td class="economy-kat__tariff images">
              <div class="images__wrapper">
                <picture>
                  <source
                    srcset="/dist/img/economy/Beru-mini@2x.png"
                    media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  />
                  <source
                    srcset="/dist/img/economy/Beru-mini.png"
                    media="(-webkit-min-device-pixel-ratio: 1)"
                  />
                  <img src="/dist/img/economy/Beru-mini.png" alt="" />
                </picture>
              </div>
            </td>
          </tr>
          <tr>
            <td class="economy-kat__tariff">
              Вы бы платили<br />за доставку<br />без подписки*
            </td>
            <td class="economy-kat__tariff">
              –498&nbsp;₽
            </td>
            <td class="economy-kat__tariff">
              –2&nbsp;988&nbsp;₽
            </td>
            <td class="economy-kat__tariff"></td>
          </tr>
          <tr>
            <td class="economy-kat__tariff">Ваша экономия<br />на доставке</td>
            <td class="economy-kat__tariff">
              267&nbsp;₽
            </td>
            <td class="economy-kat__tariff">
              1&nbsp;602&nbsp;₽
            </td>
            <td class="economy-kat__tariff"></td>
          </tr>
        </tbody>
      </table>
      <div class="economy-kat__footer">
        *На&nbsp;основе&nbsp;данных&nbsp;маркетплейса&nbsp;Беру средняя трата на
        доставку — 249 за каждый заказ. Выгода указана с расчетом более двух
        заказов в месяц без стандартной подписки Яндекс.Плюс.
      </div>
    </div>
    <div class="economy-accordion__wrapper">
      <div class="economy-accordion">
        Что нужно знать о подписке «Беру Выгоднее»
        <div class="economy-picker">
          <img src="/dist/svg/Arrow_up.svg" alt="" />
        </div>
      </div>
      <div class="economy-panel">
        <div class="economy-panel-table__wrapper">
          <table class="economy-table">
            <tbody>
              <tr>
                <td class="economy-left">
                  Что&nbsp;я&nbsp;получу&nbsp;за подписку Беру Выгоднее?
                </td>
                <td class="economy-right">
                  Бесплатную доставку любых заказов в вашем регионе. А ещё
                  полный доступ к Яндекс.Музыке, скидку на поездки с
                  Яндекс.Такси и дополнительные возможности от других сервисов
                  Яндекса.<br /><br />Бесплатная доставка действует только для
                  вашего региона.
                </td>
              </tr>
              <tr>
                <td class="economy-left">
                  Какой&nbsp;способ&nbsp;доставки будет бесплатным?
                </td>
                <td class="economy-right">
                  Все виды доставки на Беру станут бесплатными, кроме доставки
                  крупногабаритных заказов. Это заказ с общим весом товаров от
                  20 кг. Если заказ разбился на несколько посылок и хотя бы одна
                  весит 20 кг или больше, он тоже считается крупногабаритным
                </td>
              </tr>
              <tr>
                <td class="economy-left">Как&nbsp;отменить&nbsp;подписку?</td>
                <td class="economy-right">
                  Отменить автопродление подписки можно в настройках. Вы также
                  можете перейти туда из «Моего профиля». В настройках нажмите
                  «Отменить».
                </td>
              </tr>
              <tr>
                <td class="economy-left">
                  Что&nbsp;будет&nbsp;если&nbsp;я отменю подписку?
                </td>
                <td class="economy-right">
                  Преимущества подписки «Беру Выгоднее» сохранятся до конца
                  оплаченного периода.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="economy-accordion">
        Если у вас есть подписка на сервисы Яндекса
        <div class="economy-picker">
          <img src="/dist/svg/Arrow_up.svg" alt="" />
        </div>
      </div>
      <div class="economy-panel">
        <div class="economy-panel-table__wrapper">
          <table class="economy-table">
            <tbody>
              <tr>
                <td class="economy-left">
                  У&nbsp;меня&nbsp;есть&nbsp;подписка Яндекс.Плюс
                </td>
                <td class="economy-right">
                  Подписка Яндекс.Плюс будет приостановлена. Она продолжится,
                  когда закончится подписка «Беру Выгоднее».
                </td>
              </tr>
              <tr>
                <td class="economy-left">
                  Я&nbsp;пользуюсь&nbsp;семейной подпиской Яндекс.Плюс
                </td>
                <td class="economy-right">
                  Если вы владелец семейной подписки, то ваша подписка будет
                  приостановлена, вместо неё начнёт действовать «Беру
                  Выгоднее».<br /><br />
                  Если вы один из четырех пользователей входящих в семью, то вы
                  замените свою подписку на полноценную подписку «Беру
                  Выгоднее».
                </td>
              </tr>
              <tr>
                <td class="economy-left">
                  У&nbsp;меня&nbsp;есть&nbsp;подписка&nbsp;на сервис Яндекса
                  (Музыка, КиноПоиск или другой)
                </td>
                <td class="economy-right">
                  Оплаченный период вашей подписки на любой из сервисов Яндекса
                  продолжится после окончания подписки «Беру Выгоднее».
                </td>
              </tr>
              <tr>
                <td class="economy-left">
                  У&nbsp;меня&nbsp;годовая&nbsp;или&nbsp;полугодовая подписка
                  Яндекс.Плюс
                </td>
                <td class="economy-right">
                  Оплаченный период вашей подписки Яндекс.Плюс продолжится сразу
                  после завершения «Беру Выгоднее».
                </td>
              </tr>
              <tr>
                <td class="economy-left">
                  Я&nbsp;активировал&nbsp;пробный месяц подписки Яндекс.Плюс
                </td>
                <td class="economy-right">
                  Пробный период подписки Яндекс.Плюс будет заменён на
                  полноценную подписку «Беру Выгоднее».
                </td>
              </tr>
              <tr>
                <td class="economy-left">
                  У&nbsp;меня&nbsp;есть&nbsp;подписка Яндекс.Плюс по промокоду
                </td>
                <td class="economy-right">
                  Если к вашему аккаунту привязана карта, то подписка
                  Яндекс.Плюс продолжится сразу после завершения «Беру
                  Выгоднее».<br /><br />Если же карта не привязана, то ваша
                  подписка будет заменена на полноценную подписку «Беру
                  Выгоднее».
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
