@import "../../scss/variables.scss";

.page-content__head {
  height: $default-head-height;

  .head-wrapper {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 969px;

    .head-logo-wrapper {
      padding-top: 56px;
    }

    .head-info__title {
      color: $default-black;
      font-size: 60px;
      line-height: 66px;
      z-index: 2;
      padding-top: 94px;
      font-family: "YS Text Normal";
      font-weight: 100;
    }

    .head-info__advantages {
      color: $default-black;
      font-size: 18px;
      line-height: 24px;
      font-family: "YS Text Slim";
      padding-top: 21px;
      width: 600px;
    }

    .head-info__price {
      font-size: 32px;
      line-height: 36px;
      color: $default-black;
      font-family: "YS Text Normal";
      padding-top: 44px;
      width: 300px;
    }

    .head-info__subscription-button {
      width: 270px;
      height: 60px;
      background: $default-violet;
      font-size: 20px;
      line-height: 24px;
      border: 1px solid $default-violet;
      border-radius: 4px;
      color: $default-white;
      box-sizing: border-box;
      transition: all 0.2s;
      display: block;
      text-align: center;
      line-height: 58px;
      font-family: "YS Text Normal";
      margin-top: 33px;
      &:hover {
        background: $default-violet-hover;
        border: 1px solid $default-violet-hover;
      }
      &:active {
        background: $default-black-active;
        border: 1px solid $default-black-active;
      }
    }

    .head-info__about-subscription {
      cursor: pointer;
      display: inline-block;
      padding-top: 39px;
      font-size: 18px;
      line-height: 24px;
      color: $default-violet;
      font-family: "YS Text Slim";
      &:hover {
        color: $default-violet-hover;
      }
    }

    .head-info__about-subscription__tablet {
      display: none;
    }

    .head-logo__main-box {
      position: absolute;
      top: 118px;
      right: calc(100% - 1345px);
      z-index: 1;
      overflow: hidden;
      width: 818px;
      height: 550px;

      .main-box__img {
        width: 818px;
        height: 550px;
      }
    }
  }
}
