<section class="page-content__head">
    <div class="head-wrapper">
        <div class="head-logo-wrapper">
            <div class="head-logo-beru">
                <img src="/dist/svg/beru_logo.svg" alt="" />
            </div>
        </div>
        <div class="head-info">
            <h1 class="head-info__title">
                Бесплатная&nbsp;доставка<br />
                в&nbsp;Воронеже
            </h1>
            <div class="head-info__advantages">
                И&nbsp;все&nbsp;преимущества&nbsp;Яндекс.Плюса&nbsp;в&nbsp;одной&nbsp;подписке<br />«Беру&nbsp;Выгоднее».
            </div>
            <div class="head-info__price">400&nbsp;₽/месяц</div>
            <a class="head-info__subscription-button" href="" target="blank" rel="nofollow">
                Подключить подписку
            </a>
            <a  class="head-info__about-subscription">
                Что нужно знать о подписке
            </a>
            <div class="head-info__about-subscription__tablet"> 
                <a>
                    Подробнее
                </a>
            </div>
            <div class="head-logo__main-box">
                <picture class="main-box__img">
                    <source srcset="/dist/img/head/HeroImage@2x.jpeg" media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <source  srcset="/dist/img/head/HeroImage.jpeg" media="(-webkit-min-device-pixel-ratio: 1)">
                    <img src="/dist/img/head/HeroImage.jpeg" alt="" class="main-box__img" />
                </picture>
            </div>
        </div>

</section>
