<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-logo">
      <img src="/dist/svg/beru_logo_footer.svg" alt="" />
    </div>
    <div class="footer-questions">
      Остались&nbsp;вопросы?&nbsp;Задайте&nbsp;их<br />
      <div class="footer-link__wrapper">
        <a href="https://beru.ru/help/feedback.html" target="_blank"
          >службе&nbsp;поддержки</a
        >
      </div>
    </div>
    <div class="footer-questions__tablet">
      Остались&nbsp;вопросы?<br />Задайте&nbsp;их
            <div class="footer-link__wrapper first">
        <a href="https://beru.ru/help/feedback.html" target="_blank"
          >службе</a
        >
      </div>
            <div class="footer-link__wrapper second">
        <a href="https://beru.ru/help/feedback.html" target="_blank"
          >поддержки</a>
      </div>
    </div>
    <div class="footer-copyrights">
      ©&nbsp;2019&nbsp;ООО&nbsp;«Яндекс.Маркет»&nbsp;—&nbsp;совместное&nbsp;предприятие
      с&nbsp;участием&nbsp;Яндекса&nbsp;и&nbsp;группы&nbsp;компаний&nbsp;Сбербанк
    </div>
    <div class="footer-copyrights__tablet">
      ©&nbsp;2019&nbsp;ООО&nbsp;«Яндекс.Маркет»&nbsp;—&nbsp;совместное<br />предприятие
      с&nbsp;участием&nbsp;Яндекса&nbsp;и&nbsp;группы&nbsp;компаний<br />Сбербанк
    </div>
  </div>
</footer>
